/* * {
  margin: 0;
  padding: 0;
  Removing all margins, but not adviseable.
} */

body {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  background-color: silver;
}
.textsCenter {
  text-align: center;
  top: 50px;
  /* left: 400px; */
  /* position: absolute; */
  font-family: "Nothing You Could Do", cursive;
}
p {
  /* position: absolute; */
  /* top: 70px;
  left: 480px; */
  font-family: "Actor", sans-serif;
  font-size: larger;
}

.topContainer {
  background-color: lightskyblue;
  /* margin: 0 auto 0 auto; */
  padding-top: 100px;
  margin-bottom: 50px;
  /* width: 1200px; */
}
.midContainer {
}
.rotateimg180 {
  transform: rotate(30deg);
}
.bottomContainer {
}
.cloud1 {
  position: relative;
  top: 10px;
  left: 250px;
}
.cloud2 {
  position: absolute;
  top: 200px;
}
h1 {
  font-family: "Permanent Marker", cursive;
}
h2 {
  font-family: "Permanent Marker", cursive;
}
h3 {
  font-family: "Permanent Marker", cursive;
}
