body {
  margin: 0 auto;
  text-align: center;
  background-color: silver;
}
.topContainer {
  /* background-image: linear-gradient(red, yellow); */
  position: relative;
  height: 450px;
  margin-bottom: 10px;
  width: 100%;
}
/* .view {
  position: relative;
} */

.textsCenter {
  text-align: center;
  bottom: 70px;
  position: absolute;
  font-family: "Nothing You Could Do", cursive;
}
.sub {
  position: absolute;
  bottom: 130px;
}
hr {
  text-decoration-style: dotted;
}
.middle-container {
  width: 920px;
  margin: auto;
}
.rotateimg180 {
  transform: rotate(30deg);
}
.skill-row {
  width: 920px;
  text-align: left;
  line-height: 2;
  margin: 100px auto 100px auto;
}

.html-img {
  border-radius: 25px;
  float: left;
  margin-right: 30px;
}
.javascript-img {
  border-radius: 25px;
  float: right;
  margin-left: 30px;
}
.JS-title {
  padding-left: 580px;
}
p {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}
h1 {
  font-family: "Permanent Marker", cursive;
  position: absolute;
  font-size: 90px;
  color: #636060;
}
h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #636060;
}
h3 {
  font-family: "Permanent Marker", cursive;
  font-weight: normal;
  color: #636060;
}
